extends layout
block content
  if (!user)
    a(href="/login") Логирование
    br
    a(href="/register") Регистрация
  if (user)
    p Вы сейчас залогинены пользователем #{user.username}
    a(href="/logout") Разлогиниться  